<!DOCTYPE html>
<html>
<head>
<style> 
div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: -2s;
  animation-fill-mode: both;
}

@keyframes example {
  0%   {width: 100px;}
  25%  {width: 75px; }
  50%  {width: 50px; }
  75%  {width: 25px; }
  100% {width: 0px; }
}
</style>
</head>
<body>

<h1>CSS Animation</h1>

<p>Using negative values in the animation-delay property: Here, the animation will start as if it had already been playing for 2 seconds:</p>

<div></div>

</body>
</html>


